

.title-picture{
    opacity: 0.5;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 75pt;
    z-index: 1;
  }


.carousel-piece{
    display: none;
}


.p{
    color:black;
}

.next{
    margin-left: 30%;
    cursor:pointer;
    position:absolute;
    top: 25%;
    width:auto;
    margin-top: -50px;
    padding-top: 190px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
}

.prev{
    margin-left:-30%;
    cursor:pointer;
    position:absolute;
    top: 25%;
    margin-top: -50px;
    padding-top: 190px;
    width:auto;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
}

.slideShowContainer{
    margin-top: 50px;
    position:relative;
    margin:auto;
}

.botNav{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.botNav img{
    padding-left: 10px;
    padding-right: 10px;
}

/* Fading animation */
.transition {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }