

.title-picture{
    opacity: 0.5;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    font-size: 75pt;
    z-index: 1;
  }


.carousel-control{
    color:black;
}

.carousel-item{
    display: none;
}



.carousel{
    position:relative;
    margin:auto;
}


.next{
    margin-left: 30%;
    cursor:pointer;
    position:absolute;
    top: 25%;
    width:auto;
    margin-top: -50px;
    padding-top: 325px;
    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
}

.prev{
    margin-left:-30%;
    cursor:pointer;
    position:absolute;
    top: 25%;
    margin-top: -50px;
    padding-top: 325px;
    width:auto;

    color: black;
    font-weight: bold;
    font-size: 35px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select:none;
}
